@model SchoolPortal.Web.Models.School.CreateSchoolViewModel

@{
    ViewData["Title"] = "Create School";
}

<div class="card">
    <div class="card-header bg-primary text-white">
        <h4 class="mb-0">Create New School</h4>
    </div>
    <div class="card-body">
        <form asp-action="Create" method="post" id="schoolForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <!-- Basic Information -->
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Name" class="form-label">School Name *</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Email" class="form-label">Email *</label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Description" class="form-label">Description</label>
                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="CompanyId" class="form-label">Company *</label>
                        <select asp-for="CompanyId" asp-items="Model.Companies.Select(c => new SelectListItem { Value = c.Id.ToString(), Text = c.CompanyName })" 
                                class="form-select">
                            <option value="">-- Select Company --</option>
                        </select>
                        <span asp-validation-for="CompanyId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="EstablishmentYear" class="form-label">Establishment Year</label>
                        <input asp-for="EstablishmentYear" class="form-control" placeholder="YYYY" />
                        <span asp-validation-for="EstablishmentYear" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <!-- Address Information -->
            <h5 class="mt-4 mb-3">Address Information</h5>
            <div class="form-group mb-3">
                <label asp-for="Address1" class="form-label">Address Line 1 *</label>
                <textarea asp-for="Address1" class="form-control" rows="2"></textarea>
                <span asp-validation-for="Address1" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Address2" class="form-label">Address Line 2</label>
                <textarea asp-for="Address2" class="form-control" rows="2"></textarea>
                <span asp-validation-for="Address2" class="text-danger"></span>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="CountryId" class="form-label">Country</label>
                        <select asp-for="CountryId" asp-items="Model.Countries.Select(c => new SelectListItem { Value = c.Id.ToString(), Text = c.CountryName })" 
                                class="form-select" id="countryDropdown">
                            <option value="">-- Select Country --</option>
                        </select>
                        <span asp-validation-for="CountryId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="StateId" class="form-label">State</label>
                        <select asp-for="StateId" class="form-select" id="stateDropdown" disabled>
                            <option value="">-- Select State --</option>
                        </select>
                        <span asp-validation-for="StateId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="CityId" class="form-label">City</label>
                        <select asp-for="CityId" class="form-select" id="cityDropdown" disabled>
                            <option value="">-- Select City --</option>
                        </select>
                        <span asp-validation-for="CityId" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ZipCode" class="form-label">Zip Code</label>
                        <input asp-for="ZipCode" class="form-control" />
                        <span asp-validation-for="ZipCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Phone" class="form-label">Phone</label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Mobile" class="form-label">Mobile</label>
                        <input asp-for="Mobile" class="form-control" />
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-check form-switch mt-4 pt-3">
                        <input class="form-check-input" type="checkbox" asp-for="IsActive" checked>
                        <label class="form-check-label" asp-for="IsActive">Active</label>
                    </div>
                </div>
            </div>

            <!-- Jurisdiction Information -->
            <h5 class="mt-4 mb-3">Jurisdiction Information</h5>
            <div class="row mb-3">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="JudistrictionCountryId" class="form-label">Jurisdiction Country</label>
                        <select asp-for="JudistrictionCountryId" asp-items="Model.JudistrictionCountries.Select(c => new SelectListItem { Value = c.Id.ToString(), Text = c.CountryName })" 
                                class="form-select" id="jurCountryDropdown">
                            <option value="">-- Select Country --</option>
                        </select>
                        <span asp-validation-for="JudistrictionCountryId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="JudistrictionStateId" class="form-label">Jurisdiction State</label>
                        <select asp-for="JudistrictionStateId" class="form-select" id="jurStateDropdown" disabled>
                            <option value="">-- Select State --</option>
                        </select>
                        <span asp-validation-for="JudistrictionStateId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="JudistrictionCityId" class="form-label">Jurisdiction City</label>
                        <select asp-for="JudistrictionCityId" class="form-select" id="jurCityDropdown" disabled>
                            <option value="">-- Select City --</option>
                        </select>
                        <span asp-validation-for="JudistrictionCityId" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <!-- Bank Information -->
            <h5 class="mt-4 mb-3">Bank Information</h5>
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="BankName" class="form-label">Bank Name</label>
                        <input asp-for="BankName" class="form-control" />
                        <span asp-validation-for="BankName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="AccountNumber" class="form-label">Account Number</label>
                        <input asp-for="AccountNumber" class="form-control" />
                        <span asp-validation-for="AccountNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group mb-3">
                <label asp-for="BankAddress1" class="form-label">Bank Address Line 1</label>
                <textarea asp-for="BankAddress1" class="form-control" rows="2"></textarea>
                <span asp-validation-for="BankAddress1" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="BankAddress2" class="form-label">Bank Address Line 2</label>
                <textarea asp-for="BankAddress2" class="form-control" rows="2"></textarea>
                <span asp-validation-for="BankAddress2" class="text-danger"></span>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="BankCountryId" class="form-label">Bank Country</label>
                        <select asp-for="BankCountryId" asp-items="Model.BankCountries.Select(c => new SelectListItem { Value = c.Id.ToString(), Text = c.CountryName })" 
                                class="form-select" id="bankCountryDropdown">
                            <option value="">-- Select Country --</option>
                        </select>
                        <span asp-validation-for="BankCountryId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="BankStateId" class="form-label">Bank State</label>
                        <select asp-for="BankStateId" class="form-select" id="bankStateDropdown" disabled>
                            <option value="">-- Select State --</option>
                        </select>
                        <span asp-validation-for="BankStateId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="BankCityId" class="form-label">Bank City</label>
                        <select asp-for="BankCityId" class="form-select" id="bankCityDropdown" disabled>
                            <option value="">-- Select City --</option>
                        </select>
                        <span asp-validation-for="BankCityId" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="BankZipCode" class="form-label">Bank Zip Code</label>
                        <input asp-for="BankZipCode" class="form-control" />
                        <span asp-validation-for="BankZipCode" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group mt-4">
                <button type="submit" class="btn btn-primary">Create</button>
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script>
        $(document).ready(function() {
            // Country dropdown change event
            $('#countryDropdown').change(function() {
                var countryId = $(this).val();
                if (countryId) {
                    loadStates(countryId, '#stateDropdown');
                } else {
                    $('#stateDropdown').empty().prop('disabled', true).append('<option value="">-- Select State --</option>');
                    $('#cityDropdown').empty().prop('disabled', true).append('<option value="">-- Select City --</option>');
                }
            });

            // State dropdown change event
            $('#stateDropdown').change(function() {
                var stateId = $(this).val();
                if (stateId) {
                    loadCities(stateId, '#cityDropdown');
                } else {
                    $('#cityDropdown').empty().prop('disabled', true).append('<option value="">-- Select City --</option>');
                }
            });

            // Jurisdiction Country dropdown change event
            $('#jurCountryDropdown').change(function() {
                var countryId = $(this).val();
                if (countryId) {
                    loadStates(countryId, '#jurStateDropdown');
                } else {
                    $('#jurStateDropdown').empty().prop('disabled', true).append('<option value="">-- Select State --</option>');
                    $('#jurCityDropdown').empty().prop('disabled', true).append('<option value="">-- Select City --</option>');
                }
            });

            // Jurisdiction State dropdown change event
            $('#jurStateDropdown').change(function() {
                var stateId = $(this).val();
                if (stateId) {
                    loadCities(stateId, '#jurCityDropdown');
                } else {
                    $('#jurCityDropdown').empty().prop('disabled', true).append('<option value="">-- Select City --</option>');
                }
            });

            // Bank Country dropdown change event
            $('#bankCountryDropdown').change(function() {
                var countryId = $(this).val();
                if (countryId) {
                    loadStates(countryId, '#bankStateDropdown');
                } else {
                    $('#bankStateDropdown').empty().prop('disabled', true).append('<option value="">-- Select State --</option>');
                    $('#bankCityDropdown').empty().prop('disabled', true).append('<option value="">-- Select City --</option>');
                }
            });

            // Bank State dropdown change event
            $('#bankStateDropdown').change(function() {
                var stateId = $(this).val();
                if (stateId) {
                    loadCities(stateId, '#bankCityDropdown');
                } else {
                    $('#bankCityDropdown').empty().prop('disabled', true).append('<option value="">-- Select City --</option>');
                }
            });

            // Function to load states
            function loadStates(countryId, stateDropdownSelector) {
                $.get('/School/GetStatesByCountry', { countryId: countryId }, function(data) {
                    var stateDropdown = $(stateDropdownSelector);
                    stateDropdown.empty().append('<option value="">-- Select State --</option>').prop('disabled', false);
                    
                    if (data && data.length > 0) {
                        $.each(data, function() {
                            stateDropdown.append($('<option></option>').val(this.id).text(this.stateName));
                        });
                    } else {
                        stateDropdown.append('<option value="">No states found</option>');
                    }
                }).fail(function() {
                    alert('Error loading states');
                });
            }

            // Function to load cities
            function loadCities(stateId, cityDropdownSelector) {
                $.get('/School/GetCitiesByState', { stateId: stateId }, function(data) {
                    var cityDropdown = $(cityDropdownSelector);
                    cityDropdown.empty().append('<option value="">-- Select City --</option>').prop('disabled', false);
                    
                    if (data && data.length > 0) {
                        $.each(data, function() {
                            cityDropdown.append($('<option></option>').val(this.id).text(this.cityName));
                        });
                    } else {
                        cityDropdown.append('<option value="">No cities found</option>');
                    }
                }).fail(function() {
                    alert('Error loading cities');
                });
            }
        });
    </script>
}